.action-bar {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 57px;
    border-right: 1px solid #ededed;
    background-color: #fff;
    width: 57px;
    height: 100%;
    text-align: center;
}

.action-bar a {
    display: block;
    overflow: hidden;
    text-align: center;
    width: 100%;
    padding: 15px 0;
}

.action-bar a img {
    width: 27px;
    opacity: .7;
}

@media(max-width: 776px){
    .action-bar {
        top: initial;
        bottom: 0;
        height: 57px;
        width: 100%;
        padding-top: 0;
    }
    
    .action-bar a {
        display: inline-block;
        line-height: 57px;
        padding: 0;
        width: initial;
        text-align: center;
        width: 33%;
    }
    
    .action-bar a img {
        display: inline;
        vertical-align: middle;
    }
}