.book-recommendations-modal {
  display: grid;
  grid-template-rows: 0.5fr auto;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background-color: white;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;

  border: 1px solid #fa8e8461;

  -webkit-box-shadow: 6px 11px 25px -10px rgba(252,178,101,1);
  -moz-box-shadow: 6px 11px 25px -10px rgba(252,178,101,1);
  box-shadow: 6px 11px 25px -10px rgba(252,178,101,1);
}

.book-recommendation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.book-recommendations-header {
  grid-row: 1;
  grid-column: span 3;
}
.book-recommendations-header .side-bar-close-button {
  outline: none;
  left: initial;
  right: -30px;
  top: -10px;
}
.book-recommendations-modal h1 {
  color: #fa709a;
  margin-top: 15px;
  text-align: center;
}
.book-recommendations-header .side-bar-close-button span {
  width: 20px;
}
.book-recommendation .book-cover {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  height: 200px;
 line-height: 200px;
}
.book-recommendation .book-cover img {
  border: 1px solid #fa8e8461;
}
.book-recommendations-modal p {
  font-weight: 600;
  font-size: 15px;
  margin-top: 10px;
}
p.book-recommendation-author {
  margin: 20px 0 0px;
  font-weight: bold;
}
p.book-recommendation-title {
  margin-bottom: 25px;
  text-align: center;
  margin-top: 5px;
}
