.dashboard-wrapper {
    overflow: hidden;
    transition: .2s all;
    transition-timing-function: ease-out;
}
.dashboard-wrapper.dashboard-wrapper-side-bar-show {
    padding-right: 380px;
}

.dropzone-overlay {
    background-image: linear-gradient(135deg, #5ee7df7d 0%, #b490caf5 100%);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    line-height: 100vh;
    font-size: 30px;
    color: #fff;
    outline: 2px dashed #fff;
    outline-offset: -13px;
}

.bold-title{
    margin: 30px 0 0;
    font-weight: 900;
    color: #fa709a;
}

.button-role-show-manual {
    margin: 10px;
    background: white;
    color: #5c5c5c;
    border: 1px solid grey;
    /* padding: 9px 30px; */
    padding: 9px 25px 9px 35px;
   text-indent: 15px;
   overflow: hidden;
   background-image: url(/public/img/icons/icon-help-b.png);
   background-size: 14px;
   background-repeat: no-repeat;
   background-position: 24px 9px;
}

.button-role-show-manual:hover {
    color: #fa709a;
}


@media(max-width: 776px){
    .dashboard-wrapper{
        padding-left: 0;
        transition: none;
    }
    .dashboard-wrapper.dashboard-wrapper-side-bar-show {
        padding-right: 0;
    }
}