.navbar-brand img {
    height: 25px;
    vertical-align: middle;
}

.navbar-brand::after {
    content: "";
    height: 59px;
    width: 1px;
    background: #ededed;
    position: absolute;
    top: 0;
    right: 0;
}
.navbar-brand {
    height: 57px;
    float: left;
    line-height: 57px;
    width: 200px;
    text-align: center;
    position: relative;
}
.navbar-brand:focus {
    outline: 0;
}
.navbar {
    background-color: #fff;
    border-bottom: 1px solid #ededed;
    padding-left: 0;
    z-index: 1;
    font-weight: 500;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 57px;
}
.navbar-brand img.logo-logged-in {
    height: 23px;
    vertical-align: middle;
}
.navbar-brand-logged-in::after{
    height: 57px;
    top: 0px;
    left: 56px;
}
.navbar-brand-logged-in {
    padding-left: 0;
    width: 57px;
    height: inherit;
}
.app-menu {
    float: left;
    padding: 0 15px;
    width: calc(100% - 57px);
}
.app-menu.app-menu-unauthorized {
    width: calc(100% - 200px);
}
.app-menu-left {
    float: left;
}

.app-menu-right {
    float: right;
}
.app-menu ul {
    margin: 0;
    padding: 0;
}

.app-menu ul li {
    display: inline-block;
}

.app-menu ul li a {
    display: block;
    line-height: 57px;
    padding: 0 10px;
    text-decoration: none;
    color: #222;
}
.app-menu ul li a img {
    height: 17px;
    margin-right: 7px;
    margin-bottom: -2px;
}
.navbar-toggler {
    display: none;
}
.dropdown-toggle .arrow-down {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fcb265;
    display: inline-block;
    margin: 0px 0 0 10px;
    position: relative;
    top: -2px;
}

.user-menu {
    background: #ffffff;
    border: 1px solid #ededed;
    margin-top: -1px;
    box-shadow: 10px 5px 10px #00000012;
    transition: .3s all;
    opacity: 0;
    display: none;
}

.user-menu.user-menu-visible {
    opacity: 1;
    display: block;
}

.mobile-menu-visible .user-menu {
    box-shadow: none;
    border: 0;
    position: static;
    background: #eeeeee;
    border-top: 2px solid #e3abe347;
}
@media(max-width: 776px){
    .navbar-brand-not-logged-in.navbar-brand::after{
        display: none;
    }

    .mobile-menu-overlay {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        /* background: red; */
        background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
        opacity: .7;
    }

        
    .app-menu, .app-menu.app-menu-unauthorized {
        position: fixed;
        left: 0;
        top: 0;
        background: #fff;
        width: 330px;
        max-width: 80%;
        height: 100%;
        transition: .2s all;
        transition-timing-function: ease-out;
        transform: translateX(-330px);
        box-shadow: 0;
    }
    .app-menu.mobile-menu-visible{
        transform: translateX(0);
        box-shadow: 15px 0px 20px #00000014;
    }

    .app-menu ul li {
        display: block;
    }

    .app-menu ul {
        width: 100%;
        float: none;
        border-bottom: 1px solid #ededed;
    }

    .navbar-toggler {
        display: block;
        float: right;
        height: 57px;
        width: 57px;
        border: 0;
        position: relative;
        background: 0;
        border-left: 1px solid #ededed;
        cursor: pointer;
    }

    .navbar-toggler .navbar-toggler-icon {
        height: 2px;
        width: 37px;
        margin-left: 5px;
        display: block;
        background: #6d6d6d;
        margin-bottom: 5px;
        margin-top: 4px;
    
    }
}