.side-bar {
    position: fixed;
    right: 0;
    top: 0;
    padding-top: 57px;
    width: 380px;
    height: 100%;
    text-align: center;
    border-left: 1px solid #e3e3e3;
    transition: .2s all;
    transition-timing-function: ease-out;
    transform: translateX(0);
    opacity: 1;
    background-color: #fff;
}

.side-bar.side-bar-hide {
    transform: translateX(380px);
    opacity: 0;
}

/* book details */
.book-details {
    text-align: left;
    padding: 20px;
}

.book-cover {
    width: 200px;
    height: 270px;
    background: #dddddd;
    text-align: center;
    line-height: 270px;
    color: #fa709a;
}