/* main styles */
body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    background-color: #f6f6f6;
}
*{
    box-sizing: border-box;
}
.wrapper {
    padding-top: 57px;
}
.container {
    margin: auto;
    width: 1440px;
    max-width: 90%;
}


/* context menu styles */
nav.react-contextmenu {
    background-color: #fff;
    box-shadow: 10px 5px 10px #0000001c;
    border: 1px solid #ededed;
    border-top: 2px solid #fa709a;
}

.react-contextmenu-item {
    padding: 10px 15px;
    cursor: pointer;
}

.react-contextmenu-item.react-contextmenu-item--divider {
    padding: 0;
    background: #fcb26585;
    height: 1px;
    margin: 5px 0;
}

.react-contextmenu-item.react-contextmenu-item--selected {
    background: #fcb2651c;
}
.react-contextmenu-item img {
    height: 20px;
    margin-bottom: -5px;
    margin-right: 10px;
}

/* auth styles */
span.required-star {
    font-size: 26px;
    position: absolute;
    margin-top: -5px;
    color: #fa709a;
    margin-left: -3px;
}

.auth-form-wrapper {
    overflow: hidden;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ededed;
    width: 700px;
    max-width: 95%;
    margin: 30px auto;
    text-align: center;
}
.form-group {
    overflow: hidden;
}
.auth-form-wrapper h2 {
    margin: 15px 0 20px;
    font-weight: 900;
    font-size: 40px;
    color: #fa709a;
}

.auth-form-wrapper input {
    padding: 10px;
    border: 1px solid #ededed;
    background-color: #f6f6f6;
    margin-bottom: 20px;
    width: 100%;
    margin-top: 5px;
}

.auth-form-wrapper label.show-password-input-label {
    display: block;
    margin-top: -15px;
    width: 100%;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.auth-form-wrapper label {
    text-align: right;
    margin: 0;
    padding: 14px 15px;
    margin-bottom: 20px;
    color: #7b7b7b
}
.link-password-remind {
    margin: 10px 0 20px;
    display: block;
    text-decoration: none;
    color: #888;
}
.auth-form-wrapper label.show-password-input-label input {
    width: auto;
    position: relative;
    top: 1px;
    float: none;
}

/* arrows */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    
    border-bottom: 5px solid black;
  }
  
  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    
    border-top: 5px solid #f00;
  }
  
  .arrow-right {
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    
    border-left: 5px solid green;
  }
  
  .arrow-left {
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    
    border-right:5px solid blue; 
  }
  