body{
    font-family: 'Korolev';
}
.button{
    margin-right: 10px;
    color: #fff;
    transition: .3s all;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 40px;
    text-transform: uppercase;
    border: 0;
}
.button-standard{
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);

}
.button:hover {
    transform: scale(1.05);
    color: #fff;
    text-decoration: none;
}

.button-less-important{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

