body{
  font-family: "korolev",sans-serif;
}

/* navbar */
.navbar {
  background: #fbfbfb;
}

.navbar-nav li a {
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  text-decoration: none;
}
.navbar-nav li a.active::after {
  position: absolute;
  left: 10%;
  content: "";
  bottom: -10px;
  height: 4px;
  background: #007bff;
  width: 80%;
}
.navbar-nav li a:hover::after {
  position: absolute;
  left: 10%;
  content: "";
  bottom: -10px;
  height: 4px;
  background: #FF5722;
  width: 80%; 
}
/* signin form */
form{
  margin: 80px auto 20px;
  max-width: 600px;
}