.booksList {
    background: #fff;
    padding: 0 0 30px;
    border: 1px solid #ededed;
    clear: both;
    position: relative;
}

.books-list-column.column-title {
    width: 44%;
    font-weight: 600;
    color: #000;
}

.books-list-column {
    float: left;
    color: #8e8e8e;
    padding: 15px;
}

.books-list-column.column-author {
    width: 20%;
}

.books-list-column.column-format {
    width: 10%;
}

.books-list-column.column-size {
    width: 11%;
}

.books-list-column.column-upload-date {
    width: 15%;
}

.books-list-header .books-list-column {
    color: #c5c5c5;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
}
.books-list-header .books-list-column .arrow-up,
.books-list-header .books-list-column .arrow-down {
    border-width: 7px;
    display: inline-block;
    margin: 0 0 0 10px;
    position: relative;
    top: -2px;
}
.books-list-header .books-list-column .arrow-up{
    border-bottom-color: #fa709a;
}
.books-list-header .books-list-column .arrow-down{
    border-top-color: #fa709a;
}

.books-list {
    padding: 30px 0;
    overflow: hidden;
}
.books-list-row {
    cursor: pointer;
    overflow: hidden;
    float: left;
    width: 100%;
}

.books-list-row.active,.books-list-row:hover {
    background-color: #f6f6f6;
    background-color: #fcb26542;
}

/* upload progress indicator */
@keyframes hideIndicator {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }   
}
div#progressBox {
    height: 3px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
div#progressIndicator {
    transition: .6s all;
    transition-timing-function: ease-out;
    width: 0%;
    background: #fa709a;
    position: relative;
    height: 3px;
    top: 0;
}
/* div#progressIndicator.complete{
    animation-name: hideIndicator;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;   
    animation-delay: 4s;
    animation-fill-mode: forwards;
} */
div#progressIndicator span {
    color: #f7c19b;
    position: absolute;
    /* width: 80px; */
    font-size: 18px;
    right: 0;
    padding-right: 2px;
    text-align: center;
    top: 5px;
    /* margin-left: -40px; */
    height: 20px;
    line-height: 20px;
}

/* pagination */
.pagination {
    text-align: center;
}

.pagination-counter {
    display: inline-block;
    margin-right: 10px;
    color: #c5c5c5;
}

.pagination-counter .current {
    font-weight: bold;
    padding: 0 5px;
    color: #222;
}

.pagination-counter .total {
    padding: 0 5px;
    /* color: #555; */
}

/* no books */
p.no-books {
    padding: 0 20px;
    text-align: center;
    color: #fa709a;
}

/* books list nav (tabs) */
.booksList-nav {
    position: absolute;
    left: -1px;
    top: -40px;
    line-height: 40px;
}

.booksList-nav > div.active {
    background: #fff;
    color: #fa709a;
    border: 1px solid #eee;
    border-bottom: 0;
}

.booksList-nav > div {
    display: inline-block;
    padding: 0 30px;
    cursor: pointer;
}

@media(max-width: 991px){
    .button-pagination-prev {
        text-indent: -9999px;
        overflow: hidden;
        background-image: url(/public/img/icons/left-arrow.png);
        width: 70px;
    }
    
    .button-pagination {
        background-size: 20px;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0ms;
    }
    
    .button-pagination-next {
        text-indent: -9999px;
        overflow: hidden;
        background-image: url(/public/img/icons/right-arrow.png);
        width: 70px;
    }
}

@media(max-width: 776px){
}