.booksList {
    background: #fff;
    padding: 5px 20px;
    border: 1px solid #ededed;
    clear: both;
    position: relative;
    min-height: 677px;
}

table.books-list {
    width: 100%;
    /* max-width: 1400px; */
    margin: 50px auto;
    transition: .3s opacity;
}
table.books-list.loading{
    opacity: .3;
}

span.book-letter-indicator {
    background: rgba(208, 101, 221, 0.33);
    color: rgba(208, 101, 221, 0.71);
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    /* color: #fff; */
    font-weight: bold;
    margin: 4px auto;
}
span.book-letter-indicator--green {
    background: rgba(76, 175, 80, 0.42);
    color: rgba(76, 175, 80, 0.9);
}

.books-list thead tr th {
    color: #bebebe;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    padding: 0 5px;
}
.books-list tbody tr {
    cursor: pointer;
    transition: .15s background-color;
}
.books-list tbody tr:hover,
.books-list tbody tr.active {
    background-color: #f9c59757;
}
.books-list tbody tr.no-books:hover {
    background-color: transparent;
}
.books-list tbody td {
    color: #444;
    padding: 0 5px;
}

.books-list tbody tr td:nth-child(2) {
    font-weight: 600;
    color: #222;
}

.books-list tbody tr td:nth-child(n+3) {
    color: #a3a3a3;
}
tr.no-books td {
    padding: 20px 0;
}

/* upload progress indicator */
@keyframes hideIndicator {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }   
}
div#progressBox {
    height: 3px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
div#progressIndicator {
    transition: .6s all;
    transition-timing-function: ease-out;
    width: 0%;
    background: #fa709a;
    position: relative;
    height: 3px;
    top: 0;
}
/* div#progressIndicator.complete{
    animation-name: hideIndicator;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;   
    animation-delay: 4s;
    animation-fill-mode: forwards;
} */
div#progressIndicator span {
    color: #f7c19b;
    position: absolute;
    /* width: 80px; */
    font-size: 18px;
    right: 0;
    padding-right: 2px;
    text-align: center;
    top: 5px;
    /* margin-left: -40px; */
    height: 20px;
    line-height: 20px;
}

/* pagination */
.pagination {
    text-align: center;
}

.pagination-counter {
    display: inline-block;
    margin-right: 10px;
    color: #c5c5c5;
}

.pagination-counter .current {
    font-weight: bold;
    padding: 0 5px;
    color: #222;
}

.pagination-counter .total {
    padding: 0 5px;
    /* color: #555; */
}


@media(max-width: 991px){
    .button-pagination-prev {
        text-indent: -9999px;
        overflow: hidden;
        background-image: url(/public/img/icons/left-arrow.png);
        width: 70px;
    }
    
    .button-pagination {
        background-size: 20px;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0ms;
    }
    
    .button-pagination-next {
        text-indent: -9999px;
        overflow: hidden;
        background-image: url(/public/img/icons/right-arrow.png);
        width: 70px;
    }
}

@media(max-width: 776px){
    table.books-list{
        margin: 15px auto;
        display: block;
    }
    .booksList{
        padding: 0 10px;
    }
    .books-list thead tr th:nth-child(n+3), .books-list tbody tr td:nth-child(n+3) {
        display: none;
    }
    .books-list thead tr th:nth-child(1) {
        width: 1%;
    }
    
    .books-list thead tr th:nth-child(2),.books-list tbody tr td:nth-child(2) {
        padding-left: 10px;
    }
}