/* buttons styles */
.button{
    margin-right: 10px;
    color: #fff;
    transition: .15s all;
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 40px;
    text-transform: uppercase;
    border: 0;
    text-decoration: none;
    margin-bottom: 10px;
    outline: none;
}
.button-standard{
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}
.button-green{
    background-image: linear-gradient(135deg, #4CAF50 0%, #009688 100%);
}
.button:disabled {
    opacity: .3;
    color: #000;
    cursor: initial;
}
.button-less-important {
    background-image: linear-gradient(135deg, #d2dceb 0%, #8ea3c5 100%);
}
.button-danger {
    background-image: linear-gradient(135deg, #E91E63 0%, #F44336 100%);
}

.button:hover {
    color: #fa709a;
    text-decoration: none;
}
.button:disabled:hover {
    transform: none;
    color: #000;
}

.button-role-open-file-chooser {
    float: right;
    clear: right;
    margin: 10px 0;
    /* float: right; */
    /* margin: 10px; */
    background: white;
    color: #5c5c5c;
    border: 1px solid grey;
    padding: 9px 25px 9px 45px;
    text-indent: 15px;
    overflow: hidden;
    background-image: url(/public/img/icons/cloud-computing.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 22px 6px;
}
.button-role-open-file-chooser:hover{
    color: #fa709a;
}
button.button.button-pagination {
    background-color: #a7a7a7;
}